:root {
  --color-bg: #f1f5f9;
  --color-card: #ffffff;
  --color-primary: #475569;
  --color-primary-hover: #334155;
  --color-text: #0f172a;
  --color-input-bg: #e2e8f0;
  --color-border: #cbd5e1;
}

.dark-mode {
  --color-bg: #0f172a;
  --color-card: #1e293b;
  --color-primary: #64748b;
  --color-primary-hover: #94a3b8;
  --color-text: #f1f5f9;
  --color-input-bg: #334155;
  --color-border: #475569;
}
